@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

:root {
  --AppBar-bg: rgba(244, 240, 234, 1);
  --AppBar-color: #333333;
  --AppBar-border-color: rgba(0, 0, 0, 0.1);
  --color-light-loading-title: rgba(59, 118, 227, 0.8);
  --color-dark-loading-title: rgba(227, 117, 59, 0.8);
  --color-dark-loading-square: rgba(115, 110, 205, 0.8);
}

// html {
//   background: rgba(244, 240, 234, 1);
// }

/* 暗色模式下 */
.dark {
  --AppBar-bg: rgba(18, 18, 18, 0.8);
  --AppBar-color: #ffffff;
  --AppBar-border-color: rgba(255, 255, 255, 0.1);
}

// .glass {
//   background-color: rgba(255, 255, 255, 0.1);
//   /* 半透明背景 */
//   backdrop-filter: blur(10px);
//   /* 背后模糊 */
//   -webkit-backdrop-filter: blur(10px);
//   /* Safari 兼容 */
//   border-radius: 12px;
//   border: 1px solid rgba(255, 255, 255, 0.2);
//   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
// }

/* 定义新视图滑入的动画 */
@keyframes slide-from-right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

/* 定义旧视图滑出的动画 */
@keyframes slide-to-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

::view-transition-new(root),
::view-transition-old(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 2147483646;
}

::view-transition-new(root) {
  z-index: 1;
}

html.dark::view-transition-old(root) {
  z-index: 1;
}

html.dark::view-transition-new(root) {
  z-index: 2147483646;
}