@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';  
@import '@fontsource/roboto/700.css';

:root {
    --AppBar-bg: #ffffff;
    --AppBar-color: #333333;
    --AppBar-border-color: rgba(0, 0, 0, 0.1);
  }
  
  /* 暗色模式下 */
.dark {
    --AppBar-bg: rgba(18, 18, 18, 0.8);
    --AppBar-color: #ffffff;
    --AppBar-border-color: rgba(255, 255, 255, 0.1);
}